@import "tailwindcss";

@theme {
  --color-orange-50: #faf3f1;
  --color-orange-100: #f6e6e2;
  --color-orange-200: #eed0c8;
  --color-orange-300: #e3ae9f;
  --color-orange-500: #c15f3c;
  --color-orange-600: #a74b30;
  --color-orange-700: #893d27;
}